*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  inline-size: 1140px;
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/*ЛЕВАЯ СТОРОНА ЭКРАНА*/

/*ВИДЕО*/

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
  position: relative; /* для прелоадера */
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

/*КНОПКИ ПОД ВИДЕО*/

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
  flex-grow: 1; /* чтобы поле ввода и чекбоксы были на всю ширину */
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  margin-block-end: 5px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer; /* курсор для инпута и чекбоксов */
  align-items: center;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  appearance: none;
  inline-size: 225px;
  block-size: 26px;
}

fieldset > .search-form__label {
  border-width: 0.5px;
  border-color: #ffffff transparent;
  border-style: solid;
}

fieldset > .search-form__label:active {
  border: #ffffff solid 0.5px;
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  margin-inline-end: 5px;
  border: 1px solid #ffffff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  display: block;
  background-color: #ffffff;
  inline-size: 15px;
  block-size: 15px;
  margin-block-start: 1px;
  margin-inline-start: 1px;
}

.button {
  border: 1px solid currentColor;
  background-color: transparent;
  color: #ffffff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  min-block-size: 34px;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.search-form__submit-button {
  min-inline-size: 194px;
  align-self: flex-end;
}

.more-button {
  inline-size: 100%;
}

/*ПРАВАЯ СТОРОНА ЭКРАНА*/

.content__details {
  inline-size: 399px;
}

.title {
  margin-block-end: 26px;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  block-size: 298px;
  overflow: auto;
  position: relative; /* для прелоадера */
}

 .content__list-item{
  margin-block-end: 30px;
 }

 .content__list-item:last-child{
  margin-block-end: 0;
 }

.content__card-link {
  text-decoration: none;
  color: #ffffff;
  display: block; /* для отображения заднего фона */
  margin: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  padding: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card:active {
  background-color: #545050;
  text-decoration: none;
}

.content__video-card-description-container {
  flex: 1 1;
  min-width: 0; /* для того чтобы буквы в переполненном контейнере убирались в троеточие */
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  block-size: 103px;
  min-inline-size: 194px;
  object-fit: cover;
  object-position: center;
}
